.navbar {
  background-color: #007bff;
  margin-bottom: 20px;
}

.navbar .nav-link {
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.navbar .nav-link:hover {
  color: #ffcc00;
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}
